.appointments-list h3 {
    text-align: center;
}

.custom-list-item h3 {
    text-align: start;
}

.custom-list-item:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.appointments-list>p {
    text-align: center;
    padding-bottom: 2%;
    margin-top: -1%;
}