html, body {
    font-family: 'Hind Madurai', sans-serif;
}

.landing-page-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh; 
  }
  
  .landing-page-container > div {
    text-align: center; 
  }

  .intro {
    margin-top: 30vmin;
    margin-bottom: 10vmin;
  }
  
  .landing-page-container h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
  }

  .buttons-after-login {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }