body::-webkit-scrollbar {
  width: 0 !important;
}

html,
body {
  font-family: 'Hind Madurai', sans-serif;
  
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.landing-page-container>div {
  text-align: center;
}

.intro {
  margin-top: 30vmin;
  margin-bottom: 10vmin;
}

.landing-page-container h1 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700;
}

.landing-page-container h5 {
  margin: 4%;
}

.bg-gradient {
  background: linear-gradient(to bottom, #3494E6, #EC6EAD);
}
