.nav-drawer-text {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.pa-2 {
    margin-bottom: 5vmin;
}

.custom-dialog-card{
    padding: 5%;
}

.custom-dialog-card h2 {
    margin-top: 2%;
    margin-left: 5%;
}
